<app-navbar title="Dash Board - RRHH"></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">Bienvenido al sistema {{getInfoUsuario().primer_nombre}} {{getInfoUsuario().primer_apellido}}</p>
    </div>
  </div>  
    <div class="row">
        <div class="col-md-12 mt-4">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <td>Fecha</td>
                        <td>Tarea</td>
                        <td>Descripcion</td>
                        <td>Estatus</td>
                        <td>Revisar</td>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let d of dashBoardTask">
                    <td>
                      {{d.task_created_on.fecha|date:'short'}}
                    </td>
                    <td>
                      {{d.task_name}}
                    </td>
                    <td>
                      {{d.task_description}}
                    </td>
                    <td>
                      {{d.task_status}}
                    </td>
                    <td class="text-center">
                      <button class="btn btn-primary">
                        <i class="fa fa-eye"></i>
                      </button>
                    </td>
                  </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
  

  <div class="row">
    <div class="col-md-6">
      
    </div>
  </div>
</div>