<app-navbar title="Pantalla de inicio"></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">Bienvenido al sistema Luis Guzmán</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-12">
      <div class="card mb-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8 col-xs-12">
              <p class="lead">Lorem, ipsum dolor sit </p>
              <h2>14K</h2>
              <p class="lead small">
                <span class="badge bg-success">
                  2.3%
                  <i class="fa fa-arrow-up"></i>
                </span>
                Lorem, ipsum dolor sit
              </p>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="align-middle text-center icon-circle">
                <i class="fa fa-user mt-4 rounde"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div class="card mb-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8 col-xs-12">
              <p class="lead">Lorem, ipsum dolor sit </p>
              <h2>57%</h2>
              <p class="lead small">
                <span class="badge bg-success">
                  8.3%
                  <i class="fa fa-arrow-up"></i>
                </span>
                Lorem, ipsum dolor sit
              </p>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="align-middle text-center icon-circle">
                <i class="fa fa-percent mt-4 rounde"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div class="card mb-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8 col-xs-12">
              <p class="lead">Lorem, ipsum dolor sit </p>
              <h2>400M HNL</h2>
              <p class="lead small">
                <span class="badge bg-danger">
                  99.3%
                  <i class="fa fa-arrow-down"></i>
                </span>
                Lorem, ipsum dolor sit
              </p>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="align-middle text-center icon-circle">
                <i class="fa fa-money mt-4 rounde"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div class="card mb-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8 col-xs-12">
              <p class="lead">Lorem, ipsum dolor sit </p>
              <h2>7M</h2>
              <p class="lead small">
                <span class="badge bg-danger">
                  100%
                  <i class="fa fa-pause"></i>
                </span>
                Lorem, ipsum dolor sit
              </p>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="align-middle text-center icon-circle">
                <i class="fa fa-users mt-4 rounde"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      
    </div>
  </div>
</div>