<div class="card bg-holder bg-card" style="background-image:url(../assets/images/corner-3.png);">
    <div class="card-body">
        <div class="row">
            

            <div class="col-md-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist" style="display: none;">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pase-salida-tab" data-bs-toggle="tab"
                            data-bs-target="#pase-salida" type="button" role="tab" aria-controls="pase-salida"
                            aria-selected="true">Pases de
                            salida</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="ingresar-tab" data-bs-toggle="tab" data-bs-target="#aprob"
                            type="button" role="tab" aria-controls="aprob" aria-selected="false">Aprobar
                            solicitudes</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="vacaciones-form-tab" data-bs-toggle="tab"
                            data-bs-target="#vacaciones-form" type="button" role="tab" aria-controls="vacaciones-form"
                            aria-selected="false">
                            Vacaciones</button>
                    </li>
                </ul>
                <div class="tab-content " id="myTabContent">
                    <div class="tab-pane fade show active " id="pase-salida" role="tabpanel"
                        aria-labelledby="pase-salida-tab">
                        <div class="row mt-4 ">
                            <div class="col-md-12 mb-4">
                                <div class=" d-flex flex-between-center mt-2">
                                    <h5 class="mb-0">Tareas pendientes </h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="dropdown d-grid gap-2">
                                    <a class="btn btn-primary dropdown-toggle btn-sm" href="#" role="button"
                                        id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-plus-circle"></i> Nuevo
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li>
                                            <a class="dropdown-item" href="#" (click)="nuevaSolicitudPaseDeSalida()">
                                                Solicitud de pase de salida
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item " href="#"
                                                (click)="nuevaSolicitudPaseDeVacaciones()">Solicitud de vacaciones</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-10">
                                <input type="text" class="form-control form-control-sm" placeholder="Buscar"
                                    [(ngModel)]="filterQuery">
                            </div>

                            <div class="col-md-12">
                                <div class="table-responsive scrollbar bg-white  mt-4 ">
                                    <table class="table table-borderless table-striped fs--1 mb-0 table-sm "
                                        [mfData]="dashBoardTask" #mf="mfDataTable" [mfRowsOnPage]="5">
                                        <thead class="bg-200 text-900">
                                            <tr>
                                                <th>
                                                    <mfDefaultSorter by="task_id"> No. Tarea </mfDefaultSorter>
                                                </th>
                                                <th>
                                                    <mfDefaultSorter by="task_created_on.fecha"> Fecha </mfDefaultSorter>
                                                </th>
                                                <th>
                                                    <mfDefaultSorter by="task_name"> Nombre </mfDefaultSorter>
                                                </th>
                                                <th>
                                                    <mfDefaultSorter by="task_description"> Descripción </mfDefaultSorter>
                                                </th>
                                                <th>
                                                    <mfDefaultSorter by="task_status"> Estado </mfDefaultSorter>
                                                </th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list">
                                            <tr *ngFor="let d of mf.data  | filter : filterQuery">
                                                <td class="name">{{d.task_id}}</td>

                                                <td>{{d.task_created_on.fecha|date:'short'}}</td>
                                                <td class="name">{{d.task_name}}</td>
                                                <td> {{d.task_description}} </td>
                                                <td> {{d.task_status}} </td>
                                                <td class="text-center">
                                                    <button class="btn btn-sm btn-primary m-1"
                                                        (click)="getProceosPath(d)">
                                                        <i class="fa fa-eye"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr
                                                *ngIf="(dashBoardTask  | filter : filterQuery| paginate: { itemsPerPage: 10, currentPage: p }).length==0">
                                                <td colspan="6" class="text-center">
                                                    <p style="font-size: 50px;"><i class="fa fa-bullhorn" aria-hidden="true"></i></p>
                                                    <p class="mb-3">
                                                       <strong> No hay registros</strong>
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="4">
                                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                                </td>
                                            </tr>
                                            </tfoot>
                                    </table>

                                  
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="tab-pane fade" id="aprob" role="tabpanel" aria-labelledby="aprob-tab">
                        <app-form-pase-salida *ngIf="openForm" [dataPSEdit]='dataPSEdit'
                            (btnAbortar)="btnAbortar($event)" (btnRegresar)='btnRegresar($event)'
                            (btnSiguiente)='btnSiguiente($event)'></app-form-pase-salida>
                    </div>
                    <div class="tab-pane fade" id="vacaciones-form" role="tabpanel" aria-labelledby="vacaciones-form">
                        <div class="container-fluid bg-white" *ngIf="openFormVacas">
                            <app-vacaciones-exist [getPeriodosVacacionesList]="getPeriodosVacacionesList">
                            </app-vacaciones-exist>
                            <app-form-vacaciones [dataPSEdit]='dataPSEdit' (btnSiguiente)='btnSiguiente($event)'
                                (btnRegresar)='btnRegresar($event)' (btnAbortar)='btnAbortar($event)'>
                            </app-form-vacaciones>
                            <!--   <app-vacaciones-docs-list></app-vacaciones-docs-list> -->
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>