<app-navbar title="Solicitud de Vacaciones"></app-navbar>
<div class="container">
    <div>
        <div label="Solicitud de Vacaciones">
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup]="formSolicitudVacaciones" class="row" (ngSubmit)="submit()">
                        <div class="form-group">
                            <label for="fecha_inicio">Fecha Inicio</label>
                            <input type="date" formControlName="fecha_inicio" name="fecha_inicio" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="fecha_fin">Fecha Fin</label>
                            <input type="date" formControlName="fecha_fin" name="fecha_fin" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="dias">Dias</label>
                            <input type="text" formControlName="dias" name="dias" class="form-control">
                        </div>
                        <div class="form-control">
                            <button type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <div> Historial </div>
            </div>

        </div>

        <pre>{{formSolicitudVacaciones.value | json}}</pre>
        <simple-notifications [options]="options"></simple-notifications>